<form (ngSubmit)="onSubmit()" class="manipulate-recipe-form flex">
    <h1 *ngIf="fillFormType === 0">Editing recipe</h1>
    <h1 *ngIf="fillFormType === 1">Creating recipe</h1>

    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Ex. Pizza" [formControl]="nameFormControl">
        <mat-error *ngIf="hasError(nameFormControl)">
            {{getFormControlError(nameFormControl)}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Preparation in minutes</mat-label>
        <input type="number" matInput [formControl]="preparationInMinutesFormControl">
        <mat-error *ngIf="hasError(preparationInMinutesFormControl)">
            {{getFormControlError(preparationInMinutesFormControl)}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="descriptionFormControl"
                  cdkTextareaAutosize>
        </textarea>
        <mat-error *ngIf="hasError(descriptionFormControl)">
            {{getFormControlError(descriptionFormControl)}}
        </mat-error>
    </mat-form-field>

    <app-ingredient-form [ingredients]="recipe?.ingredients || []" (updatedIngredients)="loadNewIngredients($event)">

    </app-ingredient-form>

    <mat-error *ngIf="notEnoughIngredientsMessage">
        {{notEnoughIngredientsMessage}}
    </mat-error>

    <div class="buttons">
        <button [disabled]="recipeForm.invalid"  mat-raised-button color="primary">
            <ng-container *ngIf="fillFormType === 0">
                Edit
            </ng-container>
            <ng-container *ngIf="fillFormType === 1">
                Create
            </ng-container>
        </button>
        <ng-container *ngIf="fillFormType === 0">
            <app-delete-recipe-button [recipe]="recipe || null"></app-delete-recipe-button>
        </ng-container>
    </div>
</form>